<html>
    <head><title>cards</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous" 
      />
    <style>
      body{
        background-image: url("https://preview.pixlr.com/images/800wm/1143/1/1143153489.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
        #developer{
  margin-top:5%;
  margin-left:8%;
}
            .card{
                box-shadow: 0 0 30px rgba(0,0,0,0.5);
                overflow: hidden;
                border-radius: 15px;
                background-color:transparent;
            }
            .card-body{
              color:white;
              padding:10px;
            }
            .row{
                padding:20px;
            }
            img{
                border-radius: 100%;
                margin-left: 40px;
                width:170px;
                height:170px
            }
    </style></head>
    <body>
        <form action="d-info" method="get">
            <div id="developer">
                <div class="container">
                  <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                      <div class="card">
                        <div class="card-header">
                          <img src=" "/>/* insert your image*/
                        </div>
                        <div class="card-body">
							<h5>Sindhu Divvela</h5>
							<i>divvelasindhu@gmail.com</i>
						</br>
							<b>Role:</b> <i>Team Leader</i> 
							<p>Worked on frontend technologies like html and css and backend technologies like nodejs,express and mysql
							</p>
						  <p><b>Qualities</b>: <i>supportive,hardwork</i> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-3">
                      <div class="card">
                        <div class="card-header">
                          <img src=" "  />/* insert your image*/
                        </div>
                        <div class="card-body">
                          <h5>Srujana Devarapalli</h5>
                          <i>srujandevarapalli03@gmail.com</i>
						  <b>Role:</b> <i>Teammate</i>
                          <p>
							worked on technologies like technoligies like html and css and mysql and nodejs
                          </p>
						  <p><b>Qualities</b>: <i>creative,innovative</i> </p>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="container">
                    <div class="row">
                    <div class="col-3">
                      <div class="card">
                        <div class="card-header">
                          <img src="" />/* insert your image*/
                        </div>
                        <div class="card-body">
                          <h5>Deepika Eluri</h5>
                          <i>elurideepika756@gmail.com</i>
						</br>
						  <b>Role:</b> <i>Teammate</i>
                          <p>
							worked on technologies like html and css ,chart work and heled in posters
                          </p>
						  <p><b>Qualities</b>: <i>innovative and helpful</i></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="card">
                          <div class="card-header">
                            <img src=" " />/* insert your image*/
                          </div>
                          <div class="card-body">
                            <h5>Swathi Gadiboina</h5>
                            <i>g.swathi99999@gmail.com</i>
						</br>
							<b>Role:</b> <i>teammate</i>
                            <p>
								worked on the posters and chart work technologies include html and css								
                            </p>
							<p><b>Qualities</b>: <i>helpful and good adviser</i></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-1"></div>
                      <div class="col-3">
                        <div class="card">
                          <div class="card-header">
                            <img src=" " />/* insert your image*/
                          </div>
                          <div class="card-body">
                            <h5>Sailu Dasari</h5>
                            <i>dasarisailu203@gmail.com</i>
						</br>
							<b>Role:</b> <i>teammate</i>
                            <p>
								worked for the projects ppt and chartwork good at the technoligies like html and css
                            </p>
							<p><b>Qualities</b>: <i>Hardworking and creative</i></p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              </div>
        </form>
    </body>
</html>